.section-index {
  padding: 50px 0;
}
.section-main {
  h1 {
    position: relative;
    padding-right: 130px;
    margin-bottom: 50px;
    span {
      color: #F4CE77;
    }
    .left-sp {
      margin-left: -18px;
    }
  }
}
.author {
  position: relative;
  margin-bottom: 40px;
  &:before {
    position: absolute;
    content: "";
    top: -15px;
    right: 0;
    width: 60px;
    height: 1px;
    background-color: #F4CE77;
  }
}
.main__left {
  position: relative;
  p {
    font-size: 14px;
  }
  &:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -30px;
    width: 60px;
    height: 1px;
    background-color: #F4CE77;
  }
}
.main__right {
  position: relative;
  padding-left: 30px;
  &:before {
    position: absolute;
    content: "";
    left: 0px;
    bottom: 70px;
    width: 26px;
    height: 87px;
    background: url(../svg/left_sym.svg) center no-repeat;
  }
  &:after {
    position: absolute;
    content: "";
    right: 100px;
    bottom: -20px;
    width: 66px;
    height: 87px;
    background: url(../svg/right_sym.svg) center no-repeat;
  }
}