$path-font: "../fonts" !default;

@font-face {
  font-family: 'Roboto';
  src: url('#{$path-font}/Roboto-Light.eot');
  src: url('#{$path-font}/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('#{$path-font}/Roboto-Light.woff2') format('woff2'),
    url('#{$path-font}/Roboto-Light.woff') format('woff'),
    url('#{$path-font}/Roboto-Light.ttf') format('truetype'),
    url('#{$path-font}/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_L';
  src: url('#{$path-font}/Roboto-Thin.eot');
  src: url('#{$path-font}/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
    url('#{$path-font}/Roboto-Thin.woff2') format('woff2'),
    url('#{$path-font}/Roboto-Thin.woff') format('woff'),
    url('#{$path-font}/Roboto-Thin.ttf') format('truetype'),
    url('#{$path-font}/Roboto-Thin.svg#Roboto-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('#{$path-font}/CormorantGaramond-Regular.eot');
  src: url('#{$path-font}/CormorantGaramond-Regular.eot?#iefix') format('embedded-opentype'),
    url('#{$path-font}/CormorantGaramond-Regular.woff2') format('woff2'),
    url('#{$path-font}/CormorantGaramond-Regular.woff') format('woff'),
    url('#{$path-font}/CormorantGaramond-Regular.ttf') format('truetype'),
    url('#{$path-font}/CormorantGaramond-Regular.svg#CormorantGaramond-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}