.footer {
  padding: 25px 0;
  background-color: #f6f6f6;
  .logo {
    display: inline-block;
    margin-bottom: 40px;
  }
  &__middle {
    .nav-item {
      width: 30%;
      margin-bottom: 8px;
    }
    .nav-link {
      &:before {
        display: none;
      }
    }
  }
  &__link {
    display: inline-block;
    font-size: 12px;
    color: #4C4C4C;
    &:hover {
      color: #4C4C4C;
    }
  }
  .phone {
    display: inline-block;
    color: #4C4C4C;
    font-size: 26px;
    margin-bottom: 10px;
    svg {
      margin-right: 23px;
    }
  }
  .address {
    font-size: 11px;
    margin-bottom: 25px;
    svg {
      margin-right: 15px;
    }
  }
}

.social-links {
  position: relative;
  &:before {
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    width: 140px;
    height: 1px;
    background-color: #F4CE77;
  }
  a {
    display: inline-block;
    margin-left: 15px;
  }
}