
.more {
  display: inline-block;
  position: relative;
  font-size: 12px;
  color: #4C4C4C;
  margin-bottom: 15px;

  &:hover {
    color: #4C4C4C;
    &:after {
      width: 0%;
    }
  }

  &:after {
    position: absolute;
    content: "";
    bottom: -3px;
    right: 0;
    width: 60px;
    height: 1px;
    background-color: #F4CE77;
    transition: .3s;
  }
}
.help-block {
  position: relative;
  min-height: 510px;
  padding: 45px 5px 0;
  h3 {
    position: relative;
    font-family: $font-family-add;
    &:before {
      position: absolute;
      content: "";
      top: -15px;
      left: 0;
      width: 60px;
      height: 1px;
      background-color: #F4CE77;
    }
  }
  .diagn {
    font-size: 14px;
  }
  .coll {
    background-color: #F4CE77;
    border-radius: 2px;
    padding: 5px;
  }
  .progress-money {
    margin-top: 15px;
    p {
      font-size: 12px;
      margin-bottom: 0;
    }
    .price {
      font-size: 16px;
      span {
        font-size: 12px;
      }
    }
    .price_y {
      color: #F4CE77;
    }
    .price_r {
      color: #E20613;
    }
  }
  .bar-wrap {
    position: relative;
    background-color: #F4CE77;
    width: 100%;
    .progressbar {
      position: absolute;
      right: 0;
      height: 100%;
      background-color: #E20613;
      width: 25%;
    }
  }
  .to_collect {
    text-align: right;
  }
  .to_help {
    padding: 4px 0;
    position: relative;
    display: block;
    margin-right: 15px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #CA030F;
    color: #CA030F;
    border-radius: 3px;
    .helpers {
      position: absolute;
      right: -15px;
      top: -2px;
      width: 20px;
      height: 28px;
      background-color: #fff;
    }
    &:after {
      position: absolute;
      content: "";
      right: -15px;
      top: -2px;
      width: 32px;
      height: 30px;
      background: url(../images/heart.png) center no-repeat;
    }
  }
}
.completed {
  border: 1px solid #979797;
  border-radius: 2px;
}

.all {
  margin-top: 35px;
  text-transform: uppercase;
  a {
    position: relative;
    color: #4C4C4C;
    &:before {
      position: absolute;
      content: "";
      top: -10px;
      right: 0;
      width: 220px;
      height: 1px;
      background-color: #EFEFEF;
    }
    &:after {
      position: absolute;
      content: "";
      bottom: -10px;
      right: 0;
      width: 60px;
      height: 1px;
      background-color: #F4CE77;
    }
    &:hover {
      color: #4C4C4C;
    }
  }
}