@include media-breakpoint-down(lg) {
  .special-link {
    font-size: 12px;
  }
  .help-block {
    min-height: 492px;
  }
  .all {
    a {
      font-size: 14px;
    }
  }
  .header__right-block {
    margin-top: 30px;
  }
}

@include media-breakpoint-down(md) {
  .main__right {
    text-align: center;
    margin-top: 50px;
    &:before {
      left: 135px;
    }
  }
  .help-block {
    min-height: 574px;
  }
  .news-block {
    margin-bottom: 30px;
  }
  .social-links {
    &:before {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .footer__middle {
    .nav {
      padding-left: 20%;
    }
  }
}

@include media-breakpoint-down(sm) {
  .help-block {
    min-height: 480px;
  }
}
@include media-breakpoint-down(xs) {
  .all {
    margin-bottom: 20px;
  }
  .section-main {
    h1 {
      padding-right: 0;
    }
  }
  .footer__middle {
    .nav {
      padding-left: 9%;
    }
  }
  .help-block {
    max-width: 265px;
    width: 100%;
    margin: 15px auto;
  }
  .header {
    padding-top: 15px;
    &__right-block {
      display: block;
      a {
        display: block;
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
  .main__right {
    padding-left: 0;
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
  .do_good {
    &:after,
    .helpers {
      display: none;
    }
  }
  .mobile-menu__container {
    width: 80%;
  }
}