/*!
 * jQuery mmenu v7.2.0
 * @requires jQuery 1.7.0 or later
 *
 * mmenu.frebsite.nl
 *	
 * Copyright (c) Fred Heusschen
 * www.frebsite.nl
 *
 * License:CC-BY-NC-4.0
 * http://creativecommons.org/licenses/by-nc/4.0/
 */

#mm-0 .mm-navbar{
  display: none;
}

.mm-navbar__header-title{
  font-weight: 700;
  font-family: $headings-font-family;
  // background-color: $gray-dark;
  padding: 22px 42px 22px 15px;
  margin-bottom: 0;
}
  
.mm-hidden {
    display:none !important;
  }
  
  .mm-wrapper {
    overflow-x:hidden;
    position:relative;
  }
  .mm-menu {
    // background: $gray-light;
    // color: $tm-primary;
    line-height: normal;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    display:block;
    padding:0;
    margin:0 auto;
    position:absolute;
    z-index:0;
    top:0;
    right:0;
    bottom:0;
    left:0;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;

  }
  
  .mm-menu a,
  .mm-menu a:active,
  .mm-menu a:hover,
  .mm-menu a:link,
  .mm-menu a:visited {
    // color: $tm-primary;
    text-decoration:none;
  }
  
  [dir=rtl] .mm-menu {
    direction:rtl;
  }
  
  .mm-panels,
  .mm-panels>.mm-panel {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:0;
  }
  
  .mm-panel,
  .mm-panels {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    // background: $gray-light;
    // color: $tm-primary;
  }
  
  .mm-panels {
    overflow:hidden;
  }
  
  .mm-panel {
    -webkit-overflow-scrolling:touch;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:auto;
    width:100%;
    padding:0;
    -webkit-transform:translate3d(100%,0,0);
    transform:translate3d(100%,0,0);
    -webkit-transition:-webkit-transform .4s ease;
    transition:-webkit-transform .4s ease;
    -o-transition:transform .4s ease;
    transition:transform .4s ease;
    transition:transform .4s ease,-webkit-transform .4s ease;
  }
  
  .mm-panel:not(.mm-hidden) {
    display:block;
  }
  
  .mm-panel:after,
  .mm-panel:before {
    content:'';
    display:block;
  }
  
  .mm-panel_has-navbar {
  }
  
  .mm-panel_opened {
    z-index:1;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
  }
  
  .mm-panel_opened-parent {
    -webkit-transform:translate3d(-30%,0,0);
    transform:translate3d(-30%,0,0);
  }
  
  .mm-panel_highest {
    z-index:2;
  }
  
  .mm-panel_noanimation {
    -webkit-transition:none !important;
    -o-transition:none !important;
    transition:none !important;
  }
  
  .mm-panel_noanimation.mm-panel_opened-parent {
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
  }
  
  [dir=rtl] .mm-panel:not(.mm-panel_opened) {
    -webkit-transform:translate3d(-100%,0,0);
    transform:translate3d(-100%,0,0);
  }
  
  [dir=rtl] .mm-panel.mm-panel_opened-parent {
    -webkit-transform:translate3d(30%,0,0);
    transform:translate3d(30%,0,0);
  }
  
  .mm-listitem_vertical>.mm-panel {
    -webkit-transform:none !important;
    -ms-transform:none !important;
    transform:none !important;
    display:none;
    width:100%;
    padding:10px 0 10px 10px;
  }
  
  .mm-listitem_vertical>.mm-panel:after,
  .mm-listitem_vertical>.mm-panel:before {
    content:none;
    display:none;
  }
  
  .mm-listitem_opened>.mm-panel {
    display:block;
  }
  
  .mm-listitem_vertical>.mm-listitem__btn {
    height:44px;
    bottom:auto;
  }
  
  .mm-listitem_vertical .mm-listitem:last-child:after {
    border-color:transparent;
  }
  
  .mm-listitem_opened>.mm-listitem__btn:after {
    -webkit-transform:rotate(225deg);
    -ms-transform:rotate(225deg);
    transform:rotate(225deg);
    right:19px;
  }
  
  .mm-btn {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:44px;
    padding:0;
  }
  
  .mm-btn:after,
  .mm-btn:before {
    // border-color:$tm-primary;
    border-width:2px;
    border-style:solid;
  }
  
  .mm-btn_close:after,
  .mm-btn_close:before {
    content:'';
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    display:block;
    width:5px;
    height:5px;
    margin:auto;
    position:absolute;
    top:0;
    bottom:0;
    -webkit-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    transform:rotate(-45deg);
  }
  
  .mm-btn_close:before {
    border-right:none;
    border-bottom:none;
    right:18px;
  }
  
  .mm-btn_close:after {
    border-left:none;
    border-top:none;
    right:25px;
  }
  
  .mm-btn_next:after,
  .mm-btn_prev:before {
    content:'';
    border-bottom:none;
    border-right:none;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    display:block;
    width:6px;
    height:6px;
    margin:0;
    position:absolute;
    top:28px;
    bottom:0;
  }
  
  .mm-btn_prev:before {
    -webkit-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    transform:rotate(-45deg);
    left:32px;
    right:auto;
  }
  
  .mm-btn_next:after {
    -webkit-transform:rotate(135deg);
    -ms-transform:rotate(135deg);
    transform:rotate(135deg);
    right:32px;
    left:auto;
  }
  
  [dir=rtl] .mm-btn_next:after {
    -webkit-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    transform:rotate(-45deg);
    left:32px;
    right:auto;
  }
  
  [dir=rtl] .mm-btn_prev:before {
    -webkit-transform:rotate(135deg);
    -ms-transform:rotate(135deg);
    transform:rotate(135deg);
    right:32px;
    left:auto;
  }
  
  [dir=rtl] .mm-btn_close:after,
  [dir=rtl] .mm-btn_close:before {
    right:auto;
  }
  
  [dir=rtl] .mm-btn_close:before {
    left:25px;
  }
  
  [dir=rtl] .mm-btn_close:after {
    left:18px;
  }
  
  .mm-navbar {
    background: $gray-100;
    // color:$tm-primary;
    display:none;
    min-height:44px;
    padding:0 44px 0 20px;
    margin:0;
    position: relative;
    opacity:1;
    -webkit-transition:opacity .4s ease, background-color .25s ease-out;
    -o-transition:opacity .4s ease, background-color .25s ease-out;
    transition:opacity .4s ease, background-color .25s ease-out;
    &:hover{
      // background: $gray-dark;
    }
  }

  #mm-0 .mm-navbar{
    padding:0 22px;
  }
  
  .mm-navbar>* {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    display:block;
    padding:22px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .mm-navbar a,
  .mm-navbar a:hover {
    text-decoration:none;
  }
  
  .mm-navbar__title {

  }
  
  .mm-navbar__btn {
    position:absolute;
    top:0;
    bottom:0;
    z-index:1;
  }
  
  .mm-navbar__btn:first-child {
    text-align:left;
    left:-15px;
  }
  
  .mm-navbar__btn:last-child {
    text-align:right;
    right:0;
  }
  
  .mm-panel_has-navbar .mm-navbar {
    display:block;
  }
  
  [dir=rtl] .mm-navbar__btn:first-child {
    text-align:right;
    right:0;
    left:auto;
  }
  
  [dir=rtl] .mm-navbar__btn:last-child {
    text-align:left;
    left:0;
    right:auto;
  }
  
  .mm-listitem,
  .mm-listview {
    list-style:none;
    display:block;
    padding:0;
    margin:0;
  }
  
  .mm-listitem {
    // background-color: $light-background;
    position:relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    // border-bottom: 1px solid $gray-dark;
    &.is-active > .mm-btn{
        // background-color:   $gray-dark;
    }
  }
  
  .mm-listitem:after {
    content:'';
    display:block;
    position:absolute;
    left:20px;
    right:0;
    bottom:0;
  }

  .mm-listitem a,
  .mm-listitem a:hover {
    text-decoration:none;
  }
  
  .mm-listitem__btn,
  .mm-listitem__text {
    color:inherit;
    display:block;
    padding: 22px 14px;
  }
  
  .mm-listitem__text {
    overflow:hidden;
    padding-left:15px;
    padding-right:42px;
    -webkit-box-flex:1;
    -ms-flex-positive:1;
    flex-grow:1;
    -ms-flex-preferred-size:10%;
    flex-basis:10%;
    transition: background-color 250ms ease-out;
    &:hover,
    &.is-active{
        // background-color: $gray-dark;
    }
  }

  
  .mm-listitem__btn {
    -webkit-tap-highlight-color:rgba(255,255,255,.4);
    tap-highlight-color:rgba(255,255,255,.4);
    background:rgba(3,2,1,0);
    border-color:inherit;
    width:auto;
    padding-right:48px;
    position:relative;
  }
  
  .mm-listitem__btn:not(.mm-listitem__text) {
    border-left-width:1px;
    border-left-style:solid;
  }
  
  .mm-listitem_selected>.mm-listitem__text {
    background:rgba(255,255,255,.4);
  }
  
  .mm-listitem_opened>.mm-listitem__btn,
  .mm-listitem_opened>.mm-panel {
    background:rgba(0,0,0,.05);
  }
  
  .mm-panels>.mm-panel>.mm-listview {
    margin: 0 0 10px;
  }
  
  .mm-panels>.mm-panel>.mm-listview:first-child,
  .mm-panels>.mm-panel>.mm-navbar+.mm-listview {
    
  }
  
  .mm-listitem_divider {
    -o-text-overflow:ellipsis;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    background:rgba(0,0,0,.05);
    font-size:75%;
    text-transform:uppercase;
    min-height:20px;
    padding:6.5px;
    padding-right:10px;
    padding-left:20px;
  }
  
  .mm-listitem_spacer {
    padding-top:44px;
  }
  
  .mm-listitem_spacer>.mm-btn_next {
    top:44px;
  }
  
  [dir=rtl] .mm-listitem:after {
    left:0;
    right:20px;
  }
  
  [dir=rtl] .mm-listitem__text {
    padding-left:10px;
    padding-right:20px;
  }
  
  [dir=rtl] .mm-listitem__btn {
    padding-left:54px;
    border-left-width:0;
    border-left-style:none;
  }
  
  [dir=rtl] .mm-listitem__btn:not(.mm-listitem__text) {
    padding-right:0;
    border-right-width:1px;
    border-right-style:solid;
  }
  
  .mm-page {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    position:relative;
  }
  
  .mm-slideout {
    -webkit-transition:-webkit-transform .4s ease;
    transition:-webkit-transform .4s ease;
    -o-transition:transform .4s ease;
    transition:transform .4s ease;
    transition:transform .4s ease,-webkit-transform .4s ease;
    z-index:1;
  }
  
  .mm-wrapper_opened {
    overflow-x:hidden;
    position:relative;
  }
  
  .mm-wrapper_background .mm-page {
    background:inherit;
  }
  
  .mm-menu_offcanvas {
    display:none;
    position:fixed;
    right:auto;
    z-index:0;
  }
  
  .mm-menu_offcanvas.mm-menu_opened {
    display:block;
  }
  
  .mm-menu_offcanvas.mm-menu_opened.mm-no-csstransforms {
    z-index:10;
  }
  
  .mm-menu_offcanvas {
    width:80%;
    min-width:240px;
    max-width:440px;
  }
  
  .mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened~.mm-slideout {
    -webkit-transform:translate3d(80vw,0,0);
    transform:translate3d(80vw,0,0);
  }
  
  @media all and (max-width:300px) {
    .mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened~.mm-slideout {
      -webkit-transform:translate3d(240px,0,0);
      transform:translate3d(240px,0,0);
    }
  }
  
  @media all and (min-width:550px) {
    .mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened~.mm-slideout {
      -webkit-transform:translate3d(440px,0,0);
      transform:translate3d(440px,0,0);
    }
  }
  
  .mm-wrapper__blocker {
    background:rgba(3,2,1,0);
    overflow:hidden;
    display:none;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:2;
  }
  
  .mm-wrapper_blocking {
    overflow:hidden;
  }
  
  .mm-wrapper_blocking body {
    overflow:hidden;
  }
  
  .mm-wrapper_blocking .mm-wrapper__blocker {
    display:block;
  }
  
  .mm-sronly {
    border:0 !important;
    clip:rect(1px,1px,1px,1px) !important;
    -webkit-clip-path:inset(50%) !important;
    clip-path:inset(50%) !important;
    white-space:nowrap !important;
    width:1px !important;
    min-width:1px !important;
    height:1px !important;
    min-height:1px !important;
    padding:0 !important;
    overflow:hidden !important;
    position:absolute !important;
  }

  //DARK THEME

  .mmenu_dark{
    .mm-navbar__header-title{
      // background-color: $tm-secondary;
      color: $white;
    }
    .mm-menu {
      // background: $tm-primary;
      color: $white;
    }
    .mm-menu a,
    .mm-menu a:active,
    .mm-menu a:hover,
    .mm-menu a:link,
    .mm-menu a:visited {
      color: $white;
    }
    .mm-btn:after,
    .mm-btn:before {
      border-color:$white;
    }  
    .mm-panel,
    .mm-panels {
      // background: $tm-primary;
      color: $white;
    }
    .mm-listitem {
      color: $white;
      // border-bottom: 1px solid $tm-secondary;
      &.is-active > .mm-btn{
          // background-color: $tm-secondary;
      }
    }
    .mm-listitem__text {
      &:hover,
      &.is-active{
          // background-color: $tm-secondary;
      }
    }
    .mm-navbar {
      // background: $tm-primary;
      color:$white;
      &:hover{
        // background: $tm-secondary;
      }
    }
  }

  
    

    

    
    
    
    