
.mobile-menu{
    display: none;
    z-index: -100;
    position: relative;
    visibility: hidden;
    user-select: none;
    &.is-open{
        display: block;
        z-index: $zindex-fixed;
        visibility: visible;
    }
    &.is-show{
        opacity: 1;
        .mobile-menu__container {
            left: 0;
        }
    }
    &__dropdown {
        ul {
            display: none;
            list-style: none;
            a {
                font-family: $font-family-base;
                padding-left: 80px;
            }
        }
        li {
            background-color: $white;
        }        
        .triangle {
            &:hover {
                color: $gray-900;
            }
        }
    }
    &__container{
        padding-top: 30px;
        position: fixed;
        top: 0;
        left: -100%;
        width: 40%;
        height: 100%;
        overflow: hidden;
        background-color: $gray-300;
        transition: all .5s;
    }
    &__nav{
        height: 100%;
        overflow: auto;
    }
    ul {
        margin-bottom: 0;
        a {
            font-size: 16px;
        }
    }
    svg {
        margin-right: 10px;
        // fill: $basic;
    }
    .mm-li {
        position: relative;
        margin-right: 0;
        svg {
            position: absolute;
            margin-top: 16px;
            margin-left: 30px;
        }
        .mm-a {
            display: block;
            // border-top: 1px solid $gray-frame;
            padding: 15px 0 15px 65px;
        }
    }
    .mm-li:first-child, .mm-li:nth-child(13) {
        .mm-a {
            border: none;
        }
    }
    &__category {
        background-color: $white;
        a {
            display: block;
            padding: 15px 0 15px 65px;
            // font-family: $font-family-medium;
        }
        ul > a {
            padding-left: 80px;
        }
    }
    .lk-links {
        li {
            // background-color: $light-background;
        }
        a {
            display: block;
            padding: 15px 0 15px 65px;
            // border-top: 1px solid $gray-frame;
        }
    }
}
.b-none {
    border: none;
}
.mobile-menu__nav {
    .links-wrap {
        display: block;
        padding: 20px 0 25px 30px;
        background-color: $white;
    }
}
