.news-block {
  h3 {
    position: relative;
    font-size: 18px;
    font-family: $font-family-add;
    margin-right: 18px;
    margin-bottom: 0;
  }
  .news-title {
    position: relative;
    margin-bottom: 30px;
    &:after {
      position: absolute;
      content: "";
      bottom: 2px;
      left: 0;
      width: 60px;
      height: 1px;
      background-color: #F4CE77;
    }
  }
  .desc {
    font-size: 14px;
  } 
}
.date {
  text-align: center;
  background: url(../images/border_img.png) center no-repeat;
  background-size: contain;
  p {
    padding: 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 150%;
  }
  span {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 42px;
    font-family: $font-family-light;
  }
}